# Dependencies
backend/node_modules/
frontend/node_modules/

# Local Environment Secrets
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local

# Production Builds
frontend/dist/
frontend/build/

# System Overheads
.DS_Store
Thumbs.db